<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fidac.dumi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".BankActivity"></activity>
        <activity android:name=".akun.RincianAkunActivity" />
        <activity android:name=".jenispinjaman.PinjamanPensiunActivity" />
        <activity android:name=".IsiPulsaActivity" />
        <activity android:name=".TakePicture" />
        <activity android:name=".LengkapiData" />
        <activity android:name=".OtpVerify" />
        <activity android:name=".HalamanDepanActivity" />
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jenispinjaman.PinjamanRegularActivity" />
        <activity android:name=".jenispinjaman.PinjamanKilatActivity" />
        <activity android:name=".LihatSemuaActivity" />
        <activity android:name=".DaftarActivity" />
        <activity android:name=".MasukActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>