<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.minjem.dumi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_dumi"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_dumi_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
<!--        <activity android:name=".ecommerce.PlnFragment"></activity>-->
        <activity android:name=".PdfViewerActivity" />
        <activity android:name=".PelengkapanRegularActivity" />
        <activity android:name=".akun.UbahSandiActivity" />
        <activity android:name=".akun.KebijakanPrivasiActivity" />
        <activity android:name=".akun.DisclaimerActivity" />
        <activity android:name=".akun.PusatBantuanActivity" />
        <activity android:name=".PersetujuanActivity" />
        <activity android:name=".akun.RincianAkunActivity" />
        <activity android:name=".jenispinjaman.PinjamanPensiunActivity" />
        <activity android:name=".IsiPulsaActivity" />
        <activity android:name=".TakePicture" />
        <activity android:name=".LengkapiData" />
        <activity android:name=".OtpVerify" />
        <activity android:name=".HalamanDepanActivity" />
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jenispinjaman.PinjamanRegularActivity" />
        <activity android:name=".jenispinjaman.PinjamanKilatActivity" />
        <activity android:name=".LihatSemuaActivity" />
        <activity android:name=".DaftarActivity" />
        <activity android:name=".MasukActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ecommerce.ECommerceActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.minjem.dumi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>