<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.minjem.dumi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <!--android:allowBackup="true"
    android:fullBackupContent="@xml/my_backup_rules"-->

    <application
        android:icon="@mipmap/ic_launcher_dumi"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_dumi_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name=".jenispinjaman.PinjamanUltimateActivity"/>
        <activity android:name=".FotoSelfiActivity" />
        <activity android:name=".FotoKtpActivity" />
        <activity android:name=".RekeningBankActivity" />
        <activity android:name=".KontakDaruratActivity" />
        <activity android:name=".DataKeluargaActivity" />
        <activity android:name=".PerjanjianKreditView" />
        <activity android:name=".ecommerce.transaction.RiwayatView" />
        <activity android:name=".PdfViewerActivity" />
        <activity android:name=".SuratPelengkapActivity" />
        <activity android:name=".akun.UbahSandiActivity" />
        <activity android:name=".akun.KebijakanPrivasiActivity" />
        <activity android:name=".akun.DisclaimerActivity" />
        <activity android:name=".akun.PusatBantuanActivity" />
        <activity android:name=".PersetujuanActivity" />
        <activity android:name=".akun.RincianAkunActivity" />
        <activity android:name=".jenispinjaman.PinjamanPensiunActivity" />
        <activity android:name=".IsiPulsaActivity" />
        <activity android:name=".TakePicture" />
        <activity android:name=".DataPribadiActivity" />
        <activity android:name=".OtpVerify" />
        <activity android:name=".HalamanDepanActivity" />
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jenispinjaman.PinjamanRegularActivity" />
        <activity android:name=".jenispinjaman.PinjamanKilatActivity" />
        <activity android:name=".SemuaEcommerceActivity" />
        <activity android:name=".DaftarActivity" />
        <activity android:name=".MasukActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ecommerce.ECommerceActivity"
            android:windowSoftInputMode="adjustResize" />
        <!--
<activity
            android:taskAffinity=""
            android:name=".response.AlertDialogActivity" />
        -->
        <!--
 <receiver android:name=".response.InternetConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        -->
        <!--
<service
            android:name=".response.InternetConnection"
            android:enabled="true"
            android:exported="false"/>
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.minjem.dumi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data android:name="minimum_period_repayment" android:value="@string/min_period_repayment"/>
        <meta-data android:name="maximum_period_repayment" android:value="@string/max_period_repayment"/>
        <meta-data android:name="maximum_apr" android:value="@string/max_apr"/>
        <meta-data android:name="ex_total_cost" android:value="@string/ex_total_cost_of_the_loan"/>
    </application>
</manifest>